In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, normalize
import numpy as np

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [4]:
pas_id = train.PassengerId
t_pas_id = test.PassengerId

In [5]:
train.PassengerId=[i[:4]for i in train['PassengerId']]

In [6]:
test.PassengerId=[i[:4]for i in test['PassengerId']]

In [7]:
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [8]:
train['HomePlanet'] = train['HomePlanet'].fillna('NoPlanet')
enc = preprocessing.OneHotEncoder(sparse=False)
tmp = enc.fit_transform(np.array(train['HomePlanet']).reshape(-1,1))

In [9]:
train = pd.concat([train.drop(columns=['HomePlanet']),pd.DataFrame(tmp,columns=train['HomePlanet'].unique())],axis=1)

In [10]:
train['Destination'] = train['Destination'].fillna('NoDest')
enc = preprocessing.OneHotEncoder(sparse=False)
tmp = enc.fit_transform(np.array(train['Destination']).reshape(-1,1))

In [11]:
train = pd.concat([train.drop(columns=['Destination']),pd.DataFrame(tmp,columns=train['Destination'].unique())],axis=1)

In [12]:
test['HomePlanet'] = test['HomePlanet'].fillna('NoPlanet')
enc = preprocessing.OneHotEncoder(sparse=False)
tmp = enc.fit_transform(np.array(test['HomePlanet']).reshape(-1,1))

test = pd.concat([test.drop(columns=['HomePlanet']),pd.DataFrame(tmp,columns=test['HomePlanet'].unique())],axis=1)

test['Destination'] = test['Destination'].fillna('NoDest')
enc = preprocessing.OneHotEncoder(sparse=False)
tmp = enc.fit_transform(np.array(test['Destination']).reshape(-1,1))

test = pd.concat([test.drop(columns=['Destination']),pd.DataFrame(tmp,columns=test['Destination'].unique())],axis=1)

In [13]:
train['CryoSleep'] = train['CryoSleep'].fillna(train['CryoSleep'].mode().values[0])

In [14]:
test['CryoSleep'] = test['CryoSleep'].fillna(test['CryoSleep'].mode().values[0])

In [15]:
train['CryoSleep'].value_counts(dropna=False)

False    5656
True     3037
Name: CryoSleep, dtype: int64

In [16]:
le = LabelEncoder()
train['CryoSleep']=le.fit_transform(train['CryoSleep'])
test['CryoSleep']=le.fit_transform(test['CryoSleep'])

In [23]:
train['Cabin'] = train['Cabin'].fillna('nan/nan/nan')

In [25]:
tmp = [str(i).split('/') for i in train['Cabin']]
train = pd.concat([train.drop(columns=['Cabin']),pd.DataFrame(tmp,columns=['Deck','Num','Side'])],axis=1)

In [28]:
tmp = [str(i).split('/') for i in test['Cabin']]
test = pd.concat([test.drop(columns=['Cabin']),pd.DataFrame(tmp,columns=['Deck','Num','Side'])],axis=1)

In [29]:
for i in ['Deck','Num','Side']:
    le = LabelEncoder()
    train[i]=le.fit_transform(train[i])
    test[i]=le.fit_transform(test[i])

In [47]:
plt.violinplot(train['Age'].fillna(train['Age'].mode(),values[0]),vert=False)

NameError: name 'values' is not defined

блядский жмых попал на чупапи

пошел ты на хуй лютый хуй

In [ ]:
это я со своего акка хуярю